.badge{
    font-size: 25px;
    background-color: #1d262e;
}
#rules {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    color: rgb(121, 121, 121);
    line-height: 1.5;
    background-color: #f0f0f0;
}
img {
    width: auto;
    height: 200px;;
}
.jumbotron {
    background-color: #1d262e;
    color: #fff;
}
@media screen and (max-width: 600px) {
    .badge{
        font-size: 15px;
        background-color: #1d262e;
    }
    #rules {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 15px;
        color: rgb(121, 121, 121);
        line-height: 1;
        background-color: #f0f0f0;
    }
    img {
        width: auto;
        height: 100px;;
    }
}